<o-form-layout-manager attr="TopologyChange" mode="dialog" title="TOPOLOGYCHANGE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="TopologyChangeTable" 
            service="TopologyChange" 
            entity="TopologyChange" 
            title="TOPOLOGYCHANGE"
            keys="id"
            columns="component_name;change_description;changed_at;id" 
            header-actions="R;D"
            visible-columns="component_name;change_description;changed_at;id"  
            sort-columns="component_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #component_name attr="component_name" title=" component_name*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #change_description attr="change_description" title="change_description" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #changed_at attr="changed_at" title="changed_at" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>